$font-light: #fff;
$font-grey: #a2a2a2;
$font-dark: #000;

$background-light: rgb(255, 255, 255);
$background-grey-light: #f3f2f2;
$background-dark: #000;
$littleamsterdam: #BED5EB;
$littleback: #FEF8F3;

$separator: #dbdbdb;

$border-grey: #dbdbdb;
$border-dark: #000;

$action: #0095f6;
$danger: #ed4956;
